@model HelpDeskTeamProject.Models.ManageTeamViewModel

@{
    ViewBag.Title = "ManageTeam";
}

<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <h4>Manage Team "@Model.Team.Name"</h4>

        @if (Model.TeamMembers.Count < 1)
    {
        <p>No members in this team.</p>
}
else
{

    <table id="@Model.Team.Id" class="table team">

        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model.TeamMembers)
    {
        <tr class="userinfo" id="@item.TeamMember.Id">
            <td>@item.TeamMember.Name</td>
            <td>@item.TeamMember.Surname</td>
            <td class="role">
                @Html.DropDownList("UserRole", item.AvailableTeamRoles, htmlAttributes: new { @class = "form-control", @style = "width:200px;" })
            </td>
            <td><button type="button" class="btn btn-primary savebtn">Save</button></td>
            <td><button type="button" class="btn btn-primary delbtn">Delete</button></td>
        </tr>

}

    </table>
}
        <br />
        <br />
        @Html.ActionLink("Invite user", "InviteUser", new { teamId = Model.Team.Id})
        @if (Model.Team.InvitedUsers.Count < 1)
        {
            <p>No invited users in this team.</p>
        }
        else
        {
            <ul>Invited users:

                @foreach (var invitedUser in Model.Team.InvitedUsers)
                {
                     <li>@invitedUser.Email</li>
                }
            </ul>
        }
    </div>
    <div class="col-md-2">

    </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function changeUserRoleInTeam(userId, teamId, roleId) {
        $.ajax({
            type: "POST",
            url: "/teams/changeUserRoleInTeam/",
            data: "{'userId':'" + userId + "', teamId:'" + teamId + "', roleId:'" + roleId + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        })
    }

    function deleteUserFromTeam(userId, teamId) {
        $.ajax({
            type: "POST",
            url: "/teams/DeleteUserFromTeam/",
            data: "{'userId':'" + userId + "', teamId:'" + teamId + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function () {
            alert('Ok');
        });
    }

    $(function () {

        $('.savebtn').click(function () {            
            var userId = $(this).parents('.userinfo').attr('id');
            var teamId = $(this).parents('.team').attr('id');
            var roleId = $(this).parent().siblings('.role').children('select').find(':selected').val();
            changeUserRoleInTeam(userId, teamId, roleId);
        });

        $('.delbtn').click(function () {
            var userId = $(this).parents('.userinfo').attr('id');
            var teamId = $(this).parents('.team').attr('id');
            var isReadyToDeleteUser = confirm("Are you sure want to delete user from team?");
            if (isReadyToDeleteUser) {
                deleteUserFromTeam(userId, teamId);
                $(this).parents('.userinfo').hide();
            }            
        });

    });
</script>

