@model HelpDeskTeamProject.DataModels.TicketDTO
@using HelpDeskTeamProject.DataModels
@{
    string[] statusColorsArray = { StatusColors.orangered.ToString(),
        StatusColors.darkorange.ToString(),
        StatusColors.limegreen.ToString(),
        StatusColors.dimgrey.ToString() };

    string[] ticketStateNames = { TicketState.New.ToString(), TicketState.InProgress.ToString(),
        TicketState.Done.ToString(), TicketState.Rejected.ToString() };
}

<link rel="stylesheet" href="~/Content/MaterialStyles.css" type="text/css">

<script>
    var emptyTickets = false;
    var emptyComments = false;
    var teamPermissions = null;
    var canChangeTicketState = false;

    function addTicket() {
        var textBox = document.getElementById("addTicketText");
        var typeChoser = document.getElementById("addTicketType");
        if (textBox.value == "") {
            textBox.style.border = "groove";
            textBox.style.borderColor = "orangered";
            textBox.style.borderWidth = "1.5px";
        }
        if (typeChoser.value == 0) {
            typeChoser.style.border = "groove";
            typeChoser.style.borderColor = "orangered";
            typeChoser.style.borderWidth = "1.5px";
        }
        if (textBox.value != "" && typeChoser.value != 0) {
            textBox.style.border = "";
            textBox.style.borderColor = "";
            textBox.style.borderWidth = "";
            typeChoser.style.border = "";
            typeChoser.style.borderColor = "";
            typeChoser.style.borderWidth = "";
            uploadTicket(textBox.value, typeChoser.value);
            textBox.value = "";
            typeChoser.value = "0";
        }
    }

    function uploadTicket(text,type) {
        var uploaderUrl = "/Ticket/AddTicket";
        var formData = new FormData();
        formData.append("Description", text);
        formData.append("TypeId", type);
        formData.append("BaseTicketId", @Model.Id);
        formData.append("BaseTeamId",@Model.TeamId);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', uploaderUrl, true);
        xhr.onloadend = function () {
            var parsedTicket = JSON.parse(xhr.responseText);
            if (parsedTicket != null) {
                displayNewTicket(parsedTicket);
            }
        }
        xhr.send(formData);
    }

    function editButtonClick(id) {
        window.location.href = "/Ticket/Edit?id=" + id;
    }

    function showButtonClick(id) {
        window.location.href = "/Ticket/ShowTicket?id=" + id;
    }

    function clearTicketsDiv() {
        var ticketsDiv = document.getElementById("ticketsDisplay");
        ticketsDiv.innerHTML = "";
    }

    function clearCommentsDiv() {
        var commentsDiv = document.getElementById("mainDisplay");
        commentsDiv.innerHTML = "";
    }

    function displayNewTicket(ticket) {
        if (emptyTickets == true) {
            clearTicketsDiv();
            emptyTickets = false;
        }
        var statusNames = @Html.Raw(Json.Encode(ticketStateNames));
        var statusColorsJs = @Html.Raw(Json.Encode(statusColorsArray));
        var ticketsDisplay = document.getElementById("ticketsDisplay");
        var curTicketChildsCount = document.getElementById("ticketChildsCount");
        curTicketChildsCount.innerText = " " + (parseInt(curTicketChildsCount.innerText) + 1);
        var tempId = ticket.Id;

        var cardDiv = document.createElement("div");
        cardDiv.className = "card";
        cardDiv.id = "ticket_" + ticket.Id;
        ticketsDisplay.appendChild(cardDiv);

        var statusRectDiv = document.createElement("div");
        statusRectDiv.className = "statusRect";
        statusRectDiv.id = "strect_" + ticket.Id;
        statusRectDiv.style.backgroundColor = statusColorsJs[ticket.State];
        cardDiv.appendChild(statusRectDiv);

        var userNameDisp = document.createElement("h5");
        userNameDisp.className = "headerMargin";
        userNameDisp.innerHTML = "<b>" + ticket.UserName + "</b> <b>" + ticket.UserSurname + "</b>"
        cardDiv.appendChild(userNameDisp);

        var timeDisp = document.createElement("h5");
        timeDisp.className = "dateTime";
        timeDisp.innerText = ticket.TimeCreated;
        cardDiv.appendChild(timeDisp);

        var statusDisp = document.createElement("h5");
        statusDisp.className = "ticketStatus";
        statusDisp.id = "stdisp_" + ticket.Id;
        statusDisp.style.color = statusColorsJs[ticket.State];
        statusDisp.innerHTML = "<b>" + statusNames[ticket.State] + "</b>"
        statusDisp.onclick = function () { changeStateClick(tempId) };
        cardDiv.appendChild(statusDisp);

        var deleteButton = document.createElement("h5");
        deleteButton.className = "deleteButton";
        deleteButton.innerText = "Delete";
        deleteButton.addEventListener("click", function () { deleteAndHide(tempId) });
        cardDiv.appendChild(deleteButton);

        var cardText = document.createElement("div");
        cardText.className = "cardText";
        var ticketDescr = document.createElement("p");
        ticketDescr.innerText = ticket.Description;
        cardText.appendChild(ticketDescr);
        var themeText = document.createElement("div");
        themeText.className = "themeText";
        themeText.innerText = ticket.Type.Name;
        cardText.appendChild(themeText);
        cardDiv.appendChild(cardText);

        var divideLine = document.createElement("div");
        divideLine.className = "divideLine";
        cardDiv.appendChild(divideLine);

        //var replyRect = document.createElement("div");
        //replyRect.className = "replyRectangle";
        var showTicketText = document.createElement("div");
        showTicketText.className = "replyTextMargin";
        showTicketText.innerText = "Show";
        showTicketText.addEventListener("click", function () { showButtonClick(tempId) });
        replyRect.appendChild(showTicketText);
        if (ticket.CanEdit == true) {
            var editTicketText = document.createElement("div");
            editTicketText.className = "replyTextMargin";
            editTicketText.innerText = "Edit";
            editTicketText.addEventListener("click", function () { editButtonClick(tempId) });
            replyRect.appendChild(editTicketText);
        }
        var commentsTicketDisp = document.createElement("div");
        commentsTicketDisp.className = "replyTextMargin";
        commentsTicketDisp.innerHTML = "<img src=\"/Content/comments.png\" style=\"padding-bottom:1px;\" /><b> " + ticket.CommentsCount +"</b>"
        replyRect.appendChild(commentsTicketDisp);
        var childTicketDisp = document.createElement("div");
        childTicketDisp.className = "replyTextMargin";
        childTicketDisp.innerHTML = "<img src=\"/Content/ticket.png\" style=\"padding-bottom:1px;\" /><b> " + ticket.ChildTicketsCount + "</b>"
        replyRect.appendChild(childTicketDisp);
        cardDiv.appendChild(replyRect);
    }

    function changeStateClick(id) {
        if (canChangeTicketState) {
            var statusNames = @Html.Raw(Json.Encode(ticketStateNames));
            var statusColorsJs = @Html.Raw(Json.Encode(statusColorsArray));
            var statusRect = document.getElementById("strect_" + id);
            var statusDisp = document.getElementById("stdisp_" + id);

            var indexOfCurrent = statusColorsJs.indexOf(statusRect.style.backgroundColor);
            if (indexOfCurrent >= 3) {
                indexOfCurrent = 0;
            }
            else {
                indexOfCurrent++;
            }

            statusRect.style.backgroundColor = statusColorsJs[indexOfCurrent];
            statusDisp.style.color = statusColorsJs[indexOfCurrent];
            statusDisp.innerHTML = "<b>" + statusNames[indexOfCurrent] + "</b>";
            sendTicketState(id, indexOfCurrent);
        } 
    }

    function sendTicketState(id, state) {
        var uploaderUrl = "/Ticket/ChangeTicketState";
        var formData = new FormData();
        formData.append("ticketId", id);
        formData.append("state", state);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', uploaderUrl, true);
        xhr.onloadend = function () {
            var parsedTicket = JSON.parse(xhr.responseText);
            if (parsedTicket != null) {
                console.log(parsedTicket);
            }
        }
        xhr.send(formData);
    }

    function addComment() {
        var commentBox = document.getElementById("addCommentText");
        if (commentBox.value == "") {
            commentBox.style.border = "groove";
            commentBox.style.borderColor = "orangered";
            commentBox.style.borderWidth = "1.5px";
        }
        else {
            commentBox.style.border = "";
            commentBox.style.borderColor = "";
            commentBox.style.borderWidth = "";
            uploadComment(commentBox.value);
            commentBox.value = "";
        }
    }

    function deleteThisTicket() {
        deleteTicket(@Model.Id);
        window.location.href = "/Ticket/Tickets";
    }

    function deleteAndHide(delId) {
        deleteTicket(delId);
        var delTicket = document.getElementById("ticket_" + delId);
        delTicket.style.display = "none";
    }

    function deleteTicket(id) {
        var uploaderUrl = "/Ticket/DeleteTicket?id=" + id;
        var xhr = new XMLHttpRequest();
        xhr.open('GET', uploaderUrl, true);
        xhr.onloadend = function () {
            console.log(xhr.responseText);
            var parsedResp = JSON.parse(xhr.responseText);
            if (parsedResp != null) {
                console.log("Ticket deletion result - " + parsedResp);
            }
        }
        xhr.send(null);
    }

    function deleteComAndHide(delId) {
        deleteComment(delId);
        var delCom = document.getElementById("comment_" + delId);
        delCom.style.display = "none";
    }

    function deleteComment(id) {
        var uploaderUrl = "/Ticket/DeleteComment?id=" + id;
        var xhr = new XMLHttpRequest();
        xhr.open('GET', uploaderUrl, true);
        xhr.onloadend = function () {
            console.log(xhr.responseText);
            var parsedResp = JSON.parse(xhr.responseText);
            if (parsedResp != null) {
                console.log("Comment deletion result - " + parsedResp);
            }
        }
        xhr.send(null);
    }

    function uploadComment(text) {
        var uploaderUrl = "/Ticket/AddComment";
        var formData = new FormData();
        formData.append("ticketId", @Model.Id);
        formData.append("text", text);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', uploaderUrl, true);
        xhr.onloadend = function () {
            var parsedCom = JSON.parse(xhr.responseText);
            if (parsedCom != null) {
                displayNewComment(parsedCom);
            }
        }
        xhr.send(formData);
    }

    function displayNewComment(comment) {
        if (emptyComments == true) {
            clearCommentsDiv();
            emptyComments = false;
        }
        var mainDisp = document.getElementById("mainDisplay");
        var curTicketCommentsCount = document.getElementById("ticketCommentsCount");
        curTicketCommentsCount.innerText = " " + (parseInt(curTicketCommentsCount.innerText) + 1);

        var cardDiv = document.createElement("div");
        cardDiv.className = "card";
        cardDiv.id = "comment_" + comment.Id;
        mainDisp.appendChild(cardDiv);

        var userNameDisp = document.createElement("h5");
        userNameDisp.className = "headerMargin";
        userNameDisp.innerHTML = "<b>" + comment.UserName + "</b> <b>" + comment.UserSurname + "</b>"
        cardDiv.appendChild(userNameDisp);

        var timeDisp = document.createElement("h5");
        timeDisp.className = "dateTime";
        timeDisp.innerText = comment.TimeCreated;
        cardDiv.appendChild(timeDisp);

        var deleteButton = document.createElement("h5");
        deleteButton.className = "deleteButton";
        deleteButton.innerText = "Delete";
        deleteButton.addEventListener("click", function () { deleteComAndHide(comment.Id) });
        cardDiv.appendChild(deleteButton);

        var comText = document.createElement("div");
        comText.className = "commentText";
        var comPar = document.createElement("p");
        comPar.innerText = comment.Text;
        comText.appendChild(comPar);
        cardDiv.appendChild(comText);
    }

    function setVisibilityInputs(comment, ticket) {
        var commentInput = document.getElementById("inputCommentDiv");
        var ticketInput = document.getElementById("inputTicketDiv");
        if (comment == true) {
            commentInput.style.display = "";
        }
        else {
            commentInput.style.display = "none";
        }
        if (ticket == true) {
            ticketInput.style.display = "";
        }
        else {
            ticketInput.style.display = "none";
        }
    }

    function getTeamPermissions() {
        var uploaderUrl = "/Role/GetUserTeamPermissions?teamId=" + @Model.TeamId;
        var xhr = new XMLHttpRequest();
        xhr.open('GET', uploaderUrl, true);
        xhr.onloadend = function () {
            var parsedResp = JSON.parse(xhr.responseText);
            if (parsedResp != null) {
                teamPermissions = parsedResp;
                canChangeTicketState = teamPermissions.CanChangeTicketState;
                setVisibilityInputs(teamPermissions.CanCommentTicket, teamPermissions.CanCreateTicket);
            }
        }
        xhr.send(null);
    }

    document.addEventListener('DOMContentLoaded', function () {
        getTeamPermissions();
    }, false);
</script>

<h2>Show Ticket</h2>

<div>
    <div class="pageDivideLeft">
        <div class="card">
            <div class="statusRect" id="@string.Concat("strect_", Model.Id)" style="background-color: @statusColorsArray[(int)Model.State];"></div>
            <h5 class="headerMargin"><b>@Model.UserName</b> <b>@Model.UserSurname</b></h5>
            <h5 class="dateTime">@Model.TimeCreated</h5>
            <h5 class="ticketStatus" id="@string.Concat("stdisp_", Model.Id)" onclick="changeStateClick(@Model.Id)" style="color:@statusColorsArray[(int)Model.State];"><b>@Model.State.ToString()</b></h5>
            @if (Model.CanDelete)
            {
                <h5 class="deleteButton" onclick="deleteThisTicket()">Delete</h5>
            }
            <div class="cardText">
                <p>@Model.Description</p>
                <div class="themeText">@Model.Type.Name</div>
            </div>
            <div class="divideLine"></div>
            <div class="replyRectangle">
                @*<div class="replyTextMargin">Reply</div>*@
                @if (Model.CanEdit)
                {
                    <div class="replyTextMargin" onclick="editButtonClick(@Model.Id)">Edit</div>
                }
                <div class="replyTextMargin"><img src="~/Content/comments.png" style="padding-bottom:1px;" /><b id="ticketCommentsCount"> @Model.CommentsCount</b></div>
                <div class="replyTextMargin"><img src="~/Content/ticket.png" style="padding-bottom:1px;" /><b id="ticketChildsCount"> @Model.ChildTicketsCount</b></div>
            </div>
        </div>
        <div class="card" id="inputCommentDiv" style="display: none;">
            <h5 class="headerMargin"><b>Add New Comment</b></h5>
            <div class="inputTicketDiv">
                <textarea id="addCommentText" class="inputTicketText" style="height: 55px;" placeholder="Write here your comment..."></textarea>
            </div>
            <div style="padding-bottom: 15px; padding-right: 15px; padding-left: 15px;">
                <div class="addButtonDiv" style="width: 100%;" onclick="addComment();">
                    <p style="padding-top: 1px;">Add</p>
                </div>
            </div>
        </div>
        <div id="mainDisplay">
            @if (Model.Comments.Count > 0)
            {
                foreach (var comment in Model.Comments)
                {
                    <div class="card" id="@String.Concat("comment_" + comment.Id)">
                    <h5 class="headerMargin"><b>@comment.UserName</b> <b>@comment.UserSurname</b></h5>
                    <h5 class="dateTime">@comment.TimeCreated</h5>
                    @if (comment.CanDelete)
                    {
                        <h5 class="deleteButton" onclick="deleteComAndHide(@comment.Id)">Delete</h5>
                    }
                        <div class="commentText">
                            <p>@comment.Text</p>
                        </div>
                    </div>
                }
            }
            else
            {
                <script>emptyComments = true;</script>
                <div class="card">
                    <div class="systemMessageText">
                        This ticket does not have any comments, try adding more by clicking reply button.
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="pageDivideRight">
        <div class="card" id="inputTicketDiv" style="display: none;">
            <h5 class="headerMargin"><b>Add New Ticket</b></h5>
            <div class="inputTicketDiv">
                <textarea id="addTicketText" class="inputTicketText" placeholder="Write here your problem or suggestion..."></textarea>
            </div>
            <div style="padding-bottom: 15px; padding-right: 15px; padding-left: 15px;">
                <div class="selectType">
                    <select id="addTicketType" style="width:100%; min-width:100%; height: 20px; transition: 0.3s;">
                        <option value="0">Select type</option>
                        @for (int counter = 0;counter < ViewBag.TicketTypes.Count; counter++)
                        {
                            <option value="@(counter + 1)">@ViewBag.TicketTypes[counter].Name</option>
                        }
                    </select>
                </div>
                <div class="addButtonDiv" onclick="addTicket();">
                    <p style="padding-top: 1px;">Add</p>
                </div>
            </div>
        </div>
        <div id="ticketsDisplay">
            @if (Model.ChildTickets.Count > 0)
            {
                foreach (var childTicket in Model.ChildTickets)
                {
                    <div class="card" id="@String.Concat("ticket_" + childTicket.Id)">
                        <div class="statusRect" id="@string.Concat("strect_", childTicket.Id)" style="background-color: @statusColorsArray[(int)childTicket.State]"></div>
                        <h5 class="headerMargin"><b>@childTicket.UserName</b> <b>@childTicket.UserSurname</b></h5>
                        <h5 class="dateTime">@childTicket.TimeCreated</h5>
                        <h5 class="ticketStatus" id="@string.Concat("stdisp_", childTicket.Id)" onclick="changeStateClick(@childTicket.Id)" style="color:@statusColorsArray[(int)childTicket.State];"><b>@childTicket.State.ToString()</b></h5>
                        @if (childTicket.CanDelete)
                        {
                            <h5 class="deleteButton" onclick="deleteAndHide(@childTicket.Id)">Delete</h5>
                        }
                        <div class="cardText">
                            <p>@childTicket.Description</p>
                            <div class="themeText">@childTicket.Type.Name</div>
                        </div>
                        <div class="divideLine"></div>
                        <div class="replyRectangle">
                            <div class="replyTextMargin" onclick="showButtonClick(@childTicket.Id)">Show</div>
                            @if (childTicket.CanEdit)
                            {
                                <div class="replyTextMargin" onclick="editButtonClick(@childTicket.Id)">Edit</div>
                            }
                            <div class="replyTextMargin"><img src="~/Content/comments.png" style="padding-bottom:1px;" /><b> @childTicket.CommentsCount</b></div>
                            <div class="replyTextMargin"><img src="~/Content/ticket.png" style="padding-bottom:1px;" /><b> @childTicket.ChildTicketsCount</b></div>
                        </div>
                    </div>
                }
            }
            else
            {
                <script>emptyTickets = true;</script>
                <div class="card">
                        <div class="systemMessageText">
                            This ticket does not have any child tickets, try adding more by clicking add button.
                        </div>
                </div>
            }
        </div>
    </div>
</div>


